

.button-container {
    width: fit-content;
    height: 300px;
    display: grid;
    margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  margin-top: 5%;
  height: fit-content;
  text-align: initial;


  
 
}
.button-container .btn {
    background-color: rgb(124, 127, 160);
    
    
    color: #fff;
    border: 1px solid;
    padding: 10px;
    width: 300px;
    outline: none;
    margin: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 16px;
    font-size: large;

}
.title{

    color: rgb(253, 253, 253);
    text-align: center;
    padding-bottom: 5px;
    background-color: #04aa6d;
    margin-top: 0;

    }

    .center {
      margin: auto;
      width: 50%;
      border: 3px solid green;
      padding: 10px;
      margin-top: 8%;
      text-align: justify;
  }
  .content{
    
    flex:1;
    text-align:center;
  display:flex;
  flex-direction:column;
  min-height:100vh;
    
}
.update_btn{

  background-color: #3cf436;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px;

}
.view_btn{
  background-color: #756867;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px;

}

.delete_btn{
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px;

}
.debt{
  color: #f44336;
}
.btn-danger{
  background-color: #f44336;
 
  text-align: center;
  color: rgb(255, 255, 255);
  
}

