

.button-container {
    width: 600px;
    height: 300px;
    display: grid;
    margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  margin-top: 5%;
  height: fit-content;

  
 
}
.button-container .btn {
    background-color: rgb(124, 127, 160);
    
    
    color: #fff;
    border: 1px solid;
    padding: 10px;
    width: 300px;
    outline: none;
    margin: auto;
}
.title{

    color: rgb(253, 253, 253);
    text-align: center;
    padding-bottom: 5px;
    background-color: #04aa6d;
    margin-top: 0;

    }

    .center {
      margin: auto;
      width: 50%;
      border: 3px solid green;
      padding: 10px;
      margin-top: 8%;
      text-align: justify;
  }
  .content{
    
    flex:1;
    text-align:center;
  display:flex;
  flex-direction:column;
  min-height:100vh;
    
}