

.button-container {
    width: 600px;
    height: 300px;
    display: grid;
    margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  margin-top: 5%;
  
 
}
.button-container .btn {
    background-color: rgb(124, 127, 160);
    
    
    color: #fff;
    border: 1px solid;
    padding: 10px;
    width: 300px;
    outline: none;
    margin: auto;
}
.title{

    color: rgb(253, 253, 253);
    text-align: start;
    padding-bottom: 5px;
    background-color: rgb(94, 235, 0);
    margin-top: 0;

    }
